---

- name: Populate timer facts
  adfinis.facts.timer_facts:

- name: Populate service facts
  ansible.builtin.service_facts:

- name: Create sync dirs
  ansible.builtin.file:
    path: "{{ repo_mirror_base_path }}/{{ item.name }}"
    state: directory
    mode: "0755"
    owner: '{{ item.user | default(repo_mirror_user) }}'
    group: '{{ item.group | default(repo_mirror_group) }}'
  with_items: "{{ repo_mirror_repos }}"
  when: item.name is defined
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:dirs'

- name: Create log dirs
  ansible.builtin.file:
    dest: "{{ repo_mirror_log_path }}/{{ item.name }}"
    state: directory
    mode: "0755"
    owner: '{{ item.user | default(repo_mirror_user) }}'
    group: '{{ item.group | default(repo_mirror_group) }}'
  with_items: "{{ repo_mirror_repos }}"
  when: item.name is defined
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:dirs'

- name: Create mirroring scripts
  ansible.builtin.template:
    src: "usr/local/bin/{{ item.type }}_mirror.j2"
    dest: "/usr/local/bin/mirror_{{ item.name }}.sh"
    owner: '{{ item.user | default(repo_mirror_user) }}'
    group: root
    mode: "0740"
  with_items: "{{ repo_mirror_repos }}"
  when: item.name is defined
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:scripts'

- name: Create log rotation config
  ansible.builtin.template:
    src: etc/logrotate.d/config.template.j2
    dest: '/etc/logrotate.d/{{ item.name }}'
    owner: root
    group: root
    mode: "0744"
  with_items: "{{ repo_mirror_repos }}"
  when: item.name is defined
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:logrotate'

- name: Validate calendar format
  ansible.builtin.command:
    argv:
      - "systemd-analyze"
      - "calendar"
      - "{{ item.systemd_timer_calendar }}"
  register: systemd_analyze_output
  changed_when: false
  failed_when: systemd_analyze_output.rc != 0
  with_items: "{{ repo_mirror_repos }}"
  when: item.systemd_timer_calendar is defined
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:timer'

- name: Create mirror systemd units
  ansible.builtin.include_role:
    name: 0x0i.systemd
    apply:
      vars:
        unit_config:
          - name: "sync_{{ item.name }}_mirror"
            type: service
            Unit:
              Description: "Systemd unit for mirror script of {{ item.name }}"
            Service:
              Type: simple
              User: "{{ repo_mirror_user }}"
              Group: "{{ repo_mirror_group }}"
              ExecStart: "/usr/local/bin/mirror_{{ item.name }}.sh"
              KillMode: process
              RuntimeMaxSec: "{{ item.systemd_unit_max_runtime_sec | default(_default_systemd_unit_max_runtime_sec) }}"
            state: "{{ item.systemd_service_unit_state | default(_default_systemd_service_unit_state) }}"

          - name: "sync_{{ item.name }}_mirror"
            type: timer
            Unit:
              Description: "Systemd timer unit for mirror script of {{ item.name }}"
            Timer:
              OnCalendar: "{{ item.systemd_timer_calendar }}"
              Persistent: false
            Install:
              WantedBy: "timers.target"
            enabled: "{{ item.systemd_timer_enabled | default(_default_systemd_timer_enabled) }}"
            state: "{{ item.systemd_timer_unit_state | default(_default_systemd_timer_unit_state) }}"
  loop: "{{ repo_mirror_repos }}"
  loop_control:
    loop_var: item
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:unit'

- name: Create fedora report script config dir
  ansible.builtin.file:
    path: /etc/mirror
    owner: mirror
    group: mirror
    state: directory
    mode: "0755"
  when: repo_mirror_fedora_report and repo_mirror_fedora_reports is defined and repo_mirror_fedora_reports
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:fedora_report'


- name: Create fedora report script config
  ansible.builtin.template:
    src: templates/etc/mirror/fedora_report.conf.j2
    dest: /etc/mirror/fedora_report.conf
    owner: mirror
    group: mirror
    mode: "0640"
  when: repo_mirror_fedora_report and repo_mirror_fedora_reports is defined and repo_mirror_fedora_reports
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:fedora_report'

- name: Copy fedora report script
  ansible.builtin.copy:
    src: files/report_mirror
    dest: /usr/local/bin/report_mirror
    owner: mirror
    group: mirror
    mode: "0750"
  when: repo_mirror_fedora_report
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:fedora_report'

- name: build landingpage
  ansible.builtin.shell:
    cmd: make prod
    chdir: '{{ repo_mirror_landingpage_clone_dir }}'
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:landingpage'

- name: deploy landingpage
  ansible.builtin.copy:
    dest: '{{ repo_mirror_base_path }}'
    src: '{{ repo_mirror_landingpage_clone_dir }}/dist/'
    remote_src: true
    group: www-data
    owner: www-data
  when: not ansible_check_mode
  tags:
    - 'role::repo_mirror'
    - 'role::repo_mirror:configuration'
    - 'role::repo_mirror:configuration:landingpage'
